*{
    box-sizing: border-box;
}

h1 {
    margin-top: 12vh;
}

.search{
    width: 90%;
}

#selectedMode{
    display: none;
    align-items: center;
}

@media (min-width: 768px) {
    .search{
        width: 50%;
    }
}