*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-flow: column;
}

h1 {
    margin-top: 12vh;
}

.search{
    width: 90%;
}


@media (min-width: 768px) {
    .search{
        width: 50%;
    }
}