*{
    padding: 0;
    margin: 0;
    font-family: 'Circular',sans-serif, Helvetica, Arial;
    color: #F1F1F1;
}

body{
    background-color: #121212;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}