<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${name}">Document</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/components/mediaBox.css}">
    <link rel="stylesheet" th:href="@{/css/components/button.css}">
    <link rel="stylesheet" th:href="@{/css/layout/artistPage.css}">
</head>

<body>
    <div class="media-container">
        <div class="spotify-card">
            <div class="card-image">
                <img th:src="${picture}">
            </div>
            <div class="card-info">
                <h3 class="card-title" th:text="${name}"></h3>
                <p class="card-description">Artista</p>
            </div>
        </div>
    </div>

    <button>Musica</button>
    
    <script th:src="@{/js/artistHome.js}"></script>
</body>

</html>