.spotify-card {
  background-color: #2A2A2A;
  padding: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.card-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 16px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.card-info .card-title {
  color: white;
  margin: 0 0 8px 0;
  font-size: 1rem;
  font-family: 'Circular', sans-serif, Arial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info .card-description {
  color: var(--spotify-grey);
  font-size: 0.875rem;
  line-height: 1.2rem;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}