.searchResults {
    background-color: #2A2A2A;
    width: 100%;
    border-radius: 28px;
    padding: 12px 16px;

    position: absolute;
    display: none;
    top: 110%;

    list-style: none;
}

.searchResults li {
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: #3A3A3A 1px solid;;
}

.searchResults button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;

    background-color: #2A2A2A;
    border-radius: 14px;
    padding: 12px 14px;

    font-size: 16px;

    cursor: pointer;

    text-align: left;

    transition: background 0.15s, transform 0.08s;

}


.searchResults button:hover {
    background: #3A3A3A;
    transform: scale(1.01);
}

.searchResults img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;

}



@media (min-width: 768px) {
    .searchResults img{
        width: 60px;
        height: 60px;
    }

    .searchResults button {
        font-size: 18px;
        padding: 14px 16px;
    }

}